.name-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.f,
.m {
  padding: 1vh;
  font-size: medium;
  border-radius: 10%;
  margin: 0.5vw;
}

.f {
  background-color: #ffcbf2;
}

.m {
  background-color: #c0fdff;
}
